<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.main {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		background-color: #906abd;
	}
	.container {
		width: 600px;
		padding: 20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
	}
	.delet-item {
		background-color: #23ace2;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
	}
	.btn {
		width: 100%;
		display: block;
		padding: 10px;
		text-align: center;
		margin: 2px;
	}
	.btn-cansel {
		background-color: rgb(240, 41, 58);
		text-decoration: none;
		padding: 10px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
	}
	.btn-confirm {
		background-color: #17e717;
		outline: none;
		cursor: pointer;
		color: #fff;
		border: none;
		padding: 10px;
		border-radius: 3px;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
	}
</style>

<div class="main">
	<div class="container">
		<p class="delet-item">Are you sure you want to delete"{{ item }}" ?</p>

		<a class="btn btn-cansel" href="{% url 'list' %}">Cansel</a>

		<form method="POST" action="">
			{% csrf_token %}
			<input class="btn btn-confirm" type="submit" name="Confirm" />
		</form>
	</div>
</div>
